<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	</head>
	<body>
	<div class = "container-fluid">	
    		<div class="row">&nbsp;</div>
    		
    		<div class="row">
    			<div class="col-sm-6 align-left">		
  				<div class="col-md-2 align-left"><a href="/">Home</a></div>
  				<div class="col-xs-2 align-left"><a href="/about">About</a></div>
  				<div class="col-xs-2 align-left"><a href="/blog">Blog</a></div>
  			</div>	
		</div>
	
		<div class="row">&nbsp;</div>
		
		<div class="row">
			<div class="col-sm-8 align-left default-spacer">
			 	{{ content }}
			 </div>	
		</div> <!-- /.container -->
		 
		<div class="row">&nbsp;</div>

		<footer class="footer">
		<div class="row">
			<div class="col-sm-6 align-left">
				<div class="col-xs-2 align-left"><a>Alex F. Cacciamani</a></div>	
	  			<div class="col-xs-2 align-left"><a href="mailto:alexcacciamani@gmail.com"><i class="fa fa-envelope"></i></a></div>
	  			<div class="col-xs-2 align-left"><a href="https://twitter.com/alexcacciamani"><i class="fa fa-twitter"></i></a></div>
	  			<div class="col-xs-2 align-left"><a href="https://github.com/alexcacciamani"><i class="fa fa-github"></i></a></div>
			</div>
		</footer>
		
	<!-- Google Analytics Code -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-62266449-1', 'auto');
	  ga('send', 'pageview');
	</script>
	
	</div>	
	</body>
</html>
