<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
			{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:alexcacciamani@gmail.com">email</a></li>
        		<li><i class="fa fa-twitter"></i><a href="https://twitter.com/alexcacciamani"> twitter.com/alexcacciamani</a></li>
        		<li><i class="fa fa-github"></i><a href="https://github.com/alexcacciamani"> github.com/alexcacciamani</a></li>
			</ul>
		</footer>
	</body>
</html>
